
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    font-weight: 700;
    color:rgba(255, 196, 0, 0.637);
    text-align: center;
}
.characterlist{
    width: 1200px;
    text-align: center;
    margin-left: 350px;
    background: radial-gradient(rgb(230, 216, 97), transparent);
    width: 1080px;
}
.characters{
    display: inline-block;
    margin-bottom: 45px;
    margin-left: 45px;
    margin-right: 45px;
}
.namelist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 500;
    color:rgba(rgb(5, 5, 5));
}