<hr class="hr">
<section class="section">
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="historyForm">
    <div class="boxform">
      <label class="user" for="name">User </label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div * ngIf="!historyForm.get('name').valid &&
        (historyForm.get('name').dirty || submitted)">
      Has introducido mal tu nombre
    </div>
    <div class="boxform">
      <label class="user" for="password">Password </label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div * ngIf="!historyForm.get('password').valid &&
        (historyForm.get('password').dirty || submitted)">
      Has introducido mal tu contraseña
    </div>
    <div class="boxform">
      <label class="user" for="passwordRepeat">Repeat password </label>
      <input type="password" id="passwordRepeat" formControlName="passwordRepeat" />
      <div * ngIf="!historyForm.get('passwordRepeat').valid &&
        (historyForm.get('passwordRepeat').dirty || submitted)">
        Tu contraseña no coincide
      </div>
    </div>
    <div class="boxform">
      <button type="submit" [disabled]="!historyForm.valid">Sign In</button>
    </div>
  </form>
  <div>
    <p class="boxregister">Don't have an account yet? <a class="aregister" href="#">Register now</a></p>
  </div>
</section>