.hr{
    width: 850px;
    opacity: 0.3;
}
.section{
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
}
.boxform{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.user{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boxregister{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.aregister{
    text-decoration: none;
    color: rgba(103, 103, 221, 0.863);
}